.box1 {
  background-color: rgb(255, 0, 0);
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.box2 {
  width: 200px;
  height: 200px;
  background-color: aqua;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.box3 {
  background-color: bisque;
  width: 200px;
  height: 200px;
  position: fixed;
  top: calc(50% - 100px);
  left: calc(50% - 100px);
}

.box4 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.box44 {
  background-color: bisque;
  width: 200px;
  height: 200px;
  margin: calc(50% - 100px);
}
