.box1 {
  background-color: rgb(255, 0, 0);
  width: 200px;
  height: 200px;
  position: absolute;
  left: calc(50% - 100px);
  top: calc(50% - 100px);
}

.box4 {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}
.box44 {
  background-color: bisque;
  width: 200px;
  height: 200px;
}

body {
  background-color: white;
  position: relative;
  transform: translate();
  min-height: 150vh;
}

.a1 {
  width: 100%;
  border: 2px solid black;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: antiquewhite;
}

.b1 {
  width: 100%;
  height: 500px;
  position: absolute;
  top: 55px;
}
.b2 {
  background-color: antiquewhite;
  text-align: justify;

  width: 30%;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  border: 2px solid black;
}
.b3 {
  background-color: antiquewhite;
  width: 30%;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
  border: 2px solid black;
}

.b4 {
  background-color: antiquewhite;
  width: 30%;
  display: flex;
  position: absolute;
  left: calc(50% - 15%);
  border: 2px solid black;
}
